# Ignore Python cache files
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore temporary files
*.tmp
*.log

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore system files
.DS_Store