// nextflow.config
profiles {
  local {
    process.executor = 'local'
  }
  slurm {
    process.executor = 'slurm'
    executor {
      queueSize = 50
    }
    clusterOptions = '--partition=normal'
  }
}

process {
    withName: FASTQC {
            container = "scr.svc.stanford.edu/khoang99/containers/bioinformatics"
            errorStrategy = {task.exitStatus in [137] ? "retry" : "finish"}
            cpus = 2
            memory = {4.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
   withName: TRIMGALORE {
            container = "scr.svc.stanford.edu/khoang99/containers/bioinformatics"
            errorStrategy = {task.exitStatus in [137] ? "retry" : "finish"}
            cpus = 2
            memory = {4.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
    withName: SALMON {
            container = "scr.svc.stanford.edu/khoang99/containers/bioinformatics"
            errorStrategy = {task.exitStatus in [137] ? "retry" : "finish"}
            cpus = 2
            memory = {4.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}

    withName: DESEQ2 {
            container = "scr.svc.stanford.edu/khoang99/containers/bioinformatics"
            errorStrategy = {task.exitStatus in [137] ? "retry" : "finish"}
            cpus = 2
            memory = {4.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
}

singularity {
	  enabled = true
	  autoMounts = true
    runOptions = "-B /farmshare/user_data/khoang99/bios270" # modify to your directory
    cacheDir = '/farmshare/user_data/khoang99/bios270/repos/BIOS270-AU25/Pipeline/rnaseq_nf/envs/containers' # modify to your directory
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}
